@page "/"

<div style="display:flex; flex-direction:column">
    <input type="text" @bind="Content">

    <select @bind="Type">
        @foreach (var description in BlazorBarcodes.Barcodes.Barcode.All)
        {
            <option value="@description.Type" disabled="@(!description.Encoder.CanEncode(Content, out string? error))">
                @(string.Format("{0}{1}", description.Name, error is not null ? $": {error}" : ""))
            </option>
        }
    </select>


    <BarcodeComponent Style="width:200px;height:200px"
                      BarcodeType="@Type"
                      Content="@Content"
                      IncludeEANContentAsText="true">
        <ErrorTemplate>
            @context
        </ErrorTemplate>
    </BarcodeComponent>

</div>

@code {
    public BarcodeTypes Type { get; set; }

    public string Content { get; set; } = "";
}